body .btn-voltar{
  justify-content: left;
}

.containerTudo{
  background-color: #f8f8f8;
}

#picture__input {
  display: none;
}

.picture {
  width: 20rem;
  /* aspect-ratio: 16/9; */
  aspect-ratio: 5/4;
  /* height: 20rem; */
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border: 2px dashed currentcolor;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
  margin: 2rem auto;
  border-radius: 100%;
}

.picture:hover {
  color: #777;
  background: #ccc;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
  max-width: 100%;
}




.sessaoConteudo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 95%;
}

.informacaoEssenciais,
.informacoesPrincipais,
.informacoesEndereco,
.informacoesFamiliar{
  margin-block: 3rem;
}

.sessaoConteudo h2 {
 font-weight: 600;
 font-size: 2rem;
 line-height: 2.2rem;
 margin-bottom: 1.5rem;
 border-bottom: .2rem solid #575050;
 margin-inline: 3rem;
}
 .sessaoConteudo .descricao {
  margin-bottom: 2.1rem;
}


/* .sessaoConteudo .descricao div, */
.sessaoConteudo .descricao input{
  width: 100%;
  height: 3.1rem;
  display: flex;
  align-items: center;
  border: 0.1rem solid #4d4d4d8a;
  margin-left: 0.5rem;
  border-radius: 1.2rem;
}

.sessaoConteudo .descricao input[type="radio"] {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  align-items: left;
  border: none;
  margin-left: 0rem;
  border-radius: 1.2rem;
}

.sessaoConteudo .descricao p,
.sessaoConteudo .descricao input,
.sessaoConteudo .descricao label {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.descricao .naoSelecionado{
  display: none;
  border: none;
  
}

.w100 {
  flex-basis: 100%;
  padding-inline: 5rem;
}

.w50 {
  flex-basis: 50%;
  padding-inline: 5rem;
}

.w35 {
  flex-basis: 35%;
  padding-inline: 5rem;
}

.w30 {
  flex-basis: 30%;
  margin-inline: 2rem;
}

.w20 {
  flex-basis: 18%;
  margin-inline: 2rem;
}

.w10 {
  flex-basis: 8%;
  margin-inline: 2rem;
}


.w65{
  flex-basis: 65%;
  padding-inline: 5rem;
}


.telefone {
  max-width: 20% ;
  margin-left: 5rem;
  margin-right: 26.6%;
  flex-basis: 45%;
}

.estadoCivil {
  max-width: 20% ;
  margin-left: 5rem;
  margin-right: 20%;
  flex-basis: 45%;
}

.tamanhoPor3{
  display: flex;
  justify-content:space-between ;
}

.tamanhoPor3>div{
  margin-left: -0.009rem;
  max-width: 10%;
  flex-basis: 30%;
}

.tamanhoPor2{
  display: flex;
  gap: 4.7rem;
}
.tamanhoPor2>div{
  margin-left: -0.009rem;
  max-width: 10%;
  flex-basis: 54%;
}

 .tamanhoPor2 .rua {
  margin-left: -3.8%;
  max-width: none;
}

.sessaoConteudo .radiobox {
  display: flex;
  text-align: center;
  justify-content: left;
  margin-block: 1rem;
}

.sessaoConteudo .radiobox>label {
  margin: auto 0;
}

/* Familiar  */

.containerFilho>p {
  font-weight: bolder;
  margin-top: 1.5rem;
  margin-left: 3%;
} 



.containerFilho .informacaoFilhos input {
  max-width: 10%;
}


/* geral */

.containerTrabalho>p{
  font-weight: bolder;
  margin-top: 1.5rem;
  margin-left: 3%;
}

.informacaoprofissao {
  padding-left: 1.8rem;
  display: flex;
  gap: 6.7rem;
  justify-content: left;
}

.profissao {
  padding: 0;
}

.cargaHoraria input{
  max-width: 75%;
}

.containerFuma>p{
  font-weight: bolder;
  margin-top: 1.5rem;
  margin-left: 3%;
}

.informacaoFuma,
.bebidaalcoolica{
  max-width: 30%;
}

.botoes{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.botoes button{
  width: 16rem;
  height: 4.2rem;

  border: 0.1rem solid #888;
  border-radius: 2rem;
  font-size: 1.6rem;
  text-align: center;
  justify-content: center;
  align-items: center;

  background-color: #71839b;
  color: #fff;
  
  margin-bottom: 3rem;
  margin-inline: 10rem;
}
