.login {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.login h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.login input {
  width: 50rem;
  height: 4.2rem;
  border: 0.1rem solid #aaa;
  border-radius: 0.8rem;
  margin: 1rem auto;
  outline: none !important;
  padding-left: 2rem;
  font-size: 1.6rem;
  background-color: #f0efff;
}

.login input::placeholder {
  font-weight: 500;
  color: var(--icon-abas);
}

.login input:focus {
  border: 1px solid #000;
}

.login div a {
  margin: 1rem;
  display: block;
  text-align: right;
  color: var(--icon-abas);
  font-size: 1.3rem;
}

.login button {
  width: 36.9rem;
  height: 6.2rem;
  background: #324054;
  border-radius: 9px;
  border: none;
  margin: 0 auto;
  margin-block: 2.2rem;

  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
}

.login button:hover {
  background-color: #4a607f;
}

.login p {
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 23rem;
}

.login p a {
  color: #4d47c3;
}

/* CODIGOS DIOGO */

/* CODIGOS CSS DIOGO */

form input[type='checkbox'] {
  width: 2rem;
  height: 2.5rem;
  display: relative;
  top: 3rem;
  left: 2rem;
}
.login .informacao .T100 {
  display: grid;
  grid-template-columns: auto;
  text-align: center;
}

.login .informacao .T100 input {
  width: 55.5rem;
}

.login .informacao .T50 {
  display: grid;
  grid-template-areas: 'a b';
  margin: auto 30rem;
}

.login .T50 input {
  width: 25rem;
  /* background-color: #666; */
  display: inline;
  flex-direction: row;
  /* margin: 28px; */
}

.login {
  display: grid;
  grid-template-columns: auto;
  overflow-wrap: none;
}

form .fotoPaciente {
  /* margin: 0 auto; */
  text-align: center;
}

form .fotoPaciente img {
  width: 20rem;
  height: 20rem;
}


.T100 .documentacao {
  display: grid;
  /* grid-template-areas:  */
}
