<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vida Leve</title>
    <link rel="stylesheet" href="/view/style.css" />
    <link rel="stylesheet" href="/view/telaPaciente.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <section class="template">
      <header class="cabecalho container">
        <div class="nome-pagina">
          <a class="icone-voltar" href="/view/inicio.html">
            <span class="material-symbols-outlined"> arrow_back </span>
            Sair
          </a>
          <p>Vida Leve</p>
        </div>
        <div class="perfil">
          <p>Prof. Bagulho</p>
          <!-- Mudar para o nome do professor no Banco de dados -->
          <img src="/view/img/59.png" alt="Icone de perfil preto e cinza" />
        </div>
      </header>
      <sidenav class="menu ">
        
        <div>x<a href="#">About</a></div>
        <div>x<a href="#">About</a></div>
        <div>x<a href="#">About</a></div>
        <div>x<a href="#">About</a></div>
        <div>x<a href="#">About</a></div>
      </sidenav>
      <section class="sessao ">
        <div style="height: 1000px ;">ddoamwdomaw</div>
      </section>
    </section>
  </body>
</html>
