/*=== GERAL =================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --icon-abas: #73849c;

  --fundo-botao: #a6a6a6;

  --botao-hover: #d1d9e6;

  --texto-secundario: #889;

  --texto-selecionado: #2d68fe;

  font-size: 62.5%; /* 1rem = 10px */
}

html,
body {
  width: 100%;
  height: 100%;
}

.clear {
  clear: both;
}

.icone-voltar {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.icone-voltar span {
  position: relative;
  top: 0.55rem;
  left: 0.35rem;
}

.icone-voltar:hover {
  color: #687482;
}

/* ------ Cabeçalho ------- */
.container {
  width: 100%;
  height: 6.2rem;
  background-color: #cbcdcf;
  padding-inline: 4rem;
  display: flex;
  justify-content: space-between;
}

.container .nome-pagina {
  display: flex;
  gap: 2.5rem;
  /* justify-content: center; */
  align-items: center;
  margin: auto 4rem;
  overflow: none;
}

.container .nome-pagina .icone-voltar{
  padding: 1.2rem 0 0 0;
  margin-left: 2rem;
}

.container .nome-pagina p {
  font-size: 1.8rem;
  /* justify-content: center; */
  /* margin-left:  4rem; */
}

.perfil {
  display: flex;
  gap: 3.2rem;
  padding: 1.2rem 2.4rem;
}

.perfil p {
  margin: auto auto;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.perfil img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-top: -0.5rem;
  background-color: white;
}
