/* Template */

body {
  background-color: #f2f2f2;
}
/* Template */
.template .menu {
  grid-area: menu;
}

.template .cabecalho {
  grid-area: cabecalho;
}

.template .sessao {
  grid-area: sessao;
}

.template {
  display: grid;
  grid-template-areas:
    'menu cabecalho '
    'menu sessao '
    'menu sessao  ';

  grid-template-columns: 12% 88%;

  grid-template-rows: 10rem;
}

.menu {
  background-color: #fff;
  height: 100%;
  width: 12%;
  position: fixed;
}

.sessao {
  background-color: #fff;
  margin: 0 5rem 2rem;
  border: 0.2rem solid black;
}

/* Menu */

.menu .logo {
  display: flex;
  gap: 1.2rem;
  margin: 2rem 0;
  padding-right: 12%;
  justify-content: center;
}
.menu .logo img {
  width: 4rem;
  height: 4rem;
}

.menu .logo h2 {
  padding-top: 6%;
  font-weight: 400;
}

.menu .topicos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 89.9vh;
}

.menu .topicos > div {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  text-align: center;
  gap: 1.2rem;
  margin-bottom: 1.5rem;
}

.menu .topicos .icone {
  border: 0.1rem solid #dfdbdb;
  gap: 1rem;
  display: flex;
  margin-inline: 1.5rem;
  height: 3.4rem;
  padding-top: 2.5%;
  padding-left: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  text-decoration: none;
  color: #000;
}

.icone svg {
  width: 2.5rem;
  height: 2.5rem;
}

.icone h3 {
  padding-top: 2%;
  font-weight: 400;
  font-size: 1.4rem;
}

.menu .topicos .icone-selecionado {
  background-color: #eff6ff;
  border-color: #b7c8c866;
}

.menu .topicos .icone-selecionado svg path {
  fill: var(--texto-selecionado);
}

.menu .topicos .icone-selecionado h3 {
  color: var(--texto-selecionado);
}

/* Sessao */

.sessao .pacienteStatus .cabecalho {
  display: flex;
  gap: 1.1rem;
  margin-bottom: 2.271rem;
  padding: 3.9rem 3.2rem;
}

.sessao .pacienteStatus .cabecalho img {
  width: 8.929rem;
  height: 8.929rem;
  border: 0.1rem solid black;
  border-radius: 10rem;
}

.sessao .pacienteStatus .cabecalho h3 {
  font-weight: 500;
  font-size: 3.3rem;
  line-height: 4rem;
  text-align: center;
}

.sessao .pacienteStatus .cabecalho .statusAtivo,
.sessao .pacienteStatus .cabecalho .statusNegativo,
.sessao .pacienteStatus .cabecalho .statusInativo {
  width: 1.615rem;
  height: 1.52rem;
  border-radius: 15rem;
}
.sessao .pacienteStatus .cabecalho .statusAtivo {
  background: #15f101;
}

.sessao .pacienteStatus .cabecalho .statusNegativo {
  background: #f03738;
}

.sessao .pacienteStatus .cabecalho .statusInativo {
  background: #ebeaea;
}

.sessao .pacienteStatus .cabecalho .status {
  display: flex;
  gap: 0.2rem;
}

.sessao .pacienteStatus .cabecalho p {
  font-size: 1.5rem;
  line-height: 2.1rem;
  color: #6a6969;
  margin-left: 0.5rem;
}

.sessao .pacienteStatus .cabecalho span {
  color: #1b1919;
}

.sessao .menuInformacao {
  display: flex;
  gap: 2.5rem;
  padding-left: 13.5rem;
  border-bottom: 0.1rem solid #200;
  margin-bottom: 3.6rem;
}

.sessao .menuInformacao p {
  font-size: 1.8rem;
  line-height: 2.2rem;
  cursor: pointer;
}

.sessao .menuInformacao .selecionado {
  color: var(--texto-selecionado);
}

/* Sessao cards padrao */

.sessao .w100 {
  flex-basis: 100%;
  padding-inline: 5rem;
}

.sessao .w50 {
  flex-basis: 50%;
  padding-inline: 5rem;
}

.sessao .w35 {
  flex-basis: 35%;
  padding-inline: 5rem;
}

.sessao .w30 {
  flex-basis: 20%;
  margin-inline: 2rem;
}

.sessao .w65{
  flex-basis: 65%;
  padding-inline: 5rem;
}

/* sessaoConteudo */

.sessao .sessaoConteudo {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto 2.5rem;
}

.sessao .sessaoConteudo .descricao {
  margin-bottom: 2.1rem;
}

.sessao .sessaoConteudo .descricao h3 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 0.5rem;
}

.sessao .sessaoConteudo .descricao div,
.sessao .sessaoConteudo .descricao input {
  width: 100%;
  height: 3.1rem;
  display: flex;
  align-items: center;
  border: 0.1rem solid #4d4d4d8a;
  margin-left: 0.5rem;
}

.sessao .sessaoConteudo .descricao p,
.sessao .sessaoConteudo .descricao input,
.sessao .sessaoConteudo .descricao textarea,
.sessao .sessaoConteudo .descricao label {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.sessao .sessaoConteudo .descricao textarea{
  padding-top: 1rem;
}

.sessao .sessaoConteudo .descricao textarea::placeholder{
  margin-top: 2rem;
}

/* sessao Evolucao */

.sessao .sessaoEvolucao .buscar {
  width: 95%;
  border: 0.3rem solid #ededed;
  margin: 0 auto 2.5rem;
  padding-bottom: 3rem;
}

.sessao .sessaoEvolucao .buscar > div {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.sessao .sessaoEvolucao .cardPesquisa {
  display: flex;
  gap: 8rem;

  margin-top: 2.1rem;
  margin-left: 6rem;
}

.sessao .sessaoEvolucao .cardPesquisa .pesquisa {
  width: 15.5rem;
  height: 6.2rem;
  text-align: center;
}

.sessao .sessaoEvolucao .cardPesquisa .pesquisa>h3{
  margin-bottom: 1.3rem;
  font-weight: 500;
  font-size: 1.7rem;
}

.sessao .sessaoEvolucao .cardPesquisa .pesquisa .select, 
.sessao .sessaoConteudo .select{
  width: 100%;
  height: 2.7rem;
  border-radius: 5rem;
  border: 0.1rem solid #989696;
}

.sessao .abaConteudo .novaObservacao {
  display: flex;
  align-items: center;
  margin-right: 6.2rem;
  margin-top: 2.1rem;
  cursor: pointer;
}

.sessao .abaConteudo .adicionar {
  display: flex;
  gap: 1rem;
  height: 2rem;
  padding: 1.5rem;
  align-items: center;

  border: 0.1rem solid #211;
  border-radius: 5em;

  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.2rem;
  text-decoration: none;
  color: #211;
}

.sessao .sessaoEvolucao .cardObservacao {
  width: 92%;
  margin: 4.7rem auto;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.sessao .sessaoEvolucao .card {
  border: 0.1rem solid #cbc5c5;
  border-radius: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 2rem;
}

.sessao .sessaoEvolucao .card h3 {
  font-size: 1.7rem;
  line-height: 2.2rem;
}

.sessao .sessaoEvolucao .card p {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.sessao .sessaoEvolucao .card li {
  font-size: 1.5rem;
  margin-left: 2.5rem;
  margin-bottom: 0.4rem;
}

/* sessao evolucao adiciona */

.sessaoConteudo .observacao textarea {
  width: 100%;
  height: 10.9rem;
  display: flex;
  align-items: center;
  border: 0.1rem solid #4d4d4d8a;
  margin-left: 0.5rem;
  resize: none;
}

.sessaoEvolucaoAdicionar .descricao input[type='checkbox'] {
  margin: 1rem 2rem;
  appearance: none;
  width: 9rem;
  height: 3.5rem;
  background-color: #707070;
  border-radius: 5rem;
  position: absolute;
  cursor: pointer;
  transition: 0.3s;
}

.sessaoEvolucaoAdicionar .descricao input[type='checkbox']::before {
  content: '';
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #d6d6d6;
  border-radius: 50%;
  left: 0.3rem;
  top: 0.1rem;
  transition: 0.3s;
}

.sessaoEvolucaoAdicionar .descricao input[type='checkbox']::after {
  content: 'OFF';
  position: absolute;
  color: #c2c0c0;
  font-size: 1.8rem;
  left: 4rem;
  top: 0.6rem;
  transition: 0.3s;
}

.sessaoEvolucaoAdicionar .descricao input[type='checkbox']:checked {
  background: #8ffd85;
}

.sessaoEvolucaoAdicionar .descricao input[type='checkbox']:checked::before {
  background: #000;
  left: 5.6rem;
}

.sessaoEvolucaoAdicionar .descricao input[type='checkbox']:checked::after {
  content: 'ON';
  color: #000;
  left: 1.3rem;
}

.sessaoEvolucaoAdicionar .btnSalva,
.sessaoConteudo .btnSalva {
  display: flex;
  flex-direction: row-reverse;
}

.sessaoEvolucaoAdicionar .descricao button,
.sessaoConteudo .descricao button {
  padding: 1.2rem 3.6rem;
  background: #a5a5a5;
  border: .1rem solid #615656;
  border-radius: 1.5rem;
  color: #000000bc;
  cursor: pointer
}

.sessaoEvolucaoAdicionar .descricao button:hover,
.sessaoConteudo .descricao button:hover {
  background: #cdcbcb;
}

/* abaConsulta */

.abaConsulta .historico {
  width: 95%;
  border: 0.3rem solid #ededed;
  padding-bottom: 3rem;
}

.abaConsulta .novaObservacao{
  justify-content: right;
  margin-bottom: 2rem;
}

.abaConsulta table caption h2{
  font-size: 1.8rem;
}

.abaConsulta table {
  width: 100%;
  text-align: center;
  border-collapse:separate;
  border: solid #707070 1px;
  border-radius: 10px;
  margin-inline: 2rem;
  padding-block: 1.6rem;
}

.abaConsulta table caption h2 {
  font-size: 1.9rem;
  margin-bottom:  3rem;
}

.abaConsulta table thead{
  height: 3rem;
}

.abaConsulta table thead th {
  border: 1px solid #707070;
  font-size: 1.5rem;
  color: #767575;
  
}

.abaConsulta table tbody td {
  border: .1rem solid #707070;
  height: 2.5rem; 
  font-size: 1.2rem;
}

.abaConsulta table tbody .status-conluido{
  color: #29ce1a;
}

.abaConsulta table tbody .status-agendado{
  color: #5045d4;
}


/* ConsultaAdicionar */

.sessaoConsultaAdicionar>.sessaoConteudo {
  justify-content: center;
  gap: 5rem;
}

.sessaoConsultaAdicionar .calendario h2{
  text-align: center;
  font-size: 2rem;
}

.sessaoConsultaAdicionar .calendario .header-calendario {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}



.sessaoConsultaAdicionar .calendario h2 {
  margin-top: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  
}

.sessaoConsultaAdicionar .calendario .btn-ant,
.sessaoConsultaAdicionar .calendario .btn-pro{
  height: 3.2rem;
  width: 3.2rem;
  line-height: 3.2rem;
  margin-top: .5rem;
  border: .2rem solid #4c4f4f;
  border-radius: .4rem;
  color: #3e4040;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 3rem;
  cursor: pointer;
}

.sessaoConsultaAdicionar .calendario .btn-ant:hover,
.sessaoConsultaAdicionar .calendario .btn-pro:hover{
  background: #b3b7b7;
  border: .2rem solid #5f6161;
  color: #171616;
}

.sessaoConsultaAdicionar .calendario table {
  border-collapse: collapse;
}

.sessaoConsultaAdicionar .calendario table thead {
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: .2rem solid #747373;
}

.sessaoConsultaAdicionar .calendario table td{
  /* border:  .1rem solid #4c4f4f ; */
  width: 14.28rem;
  height: 3rem;;
  text-align: center;
  color: #5d5b5b;
}

.sessaoConsultaAdicionar .calendario table tbody td{
  cursor: pointer;
}

.sessaoConsultaAdicionar .calendario table tbody td:hover{
  background-color: rgba(113, 189, 220, 0.638);
  color: #000;
  font-size: 1.45rem;
}

/* .sessaoConsultaAdicionar table tbody td:last-child{
  border-right: .1rem solid #4c4f4f;
}

.sessaoConsultaAdicionar table tbody tr:last-child{
  background-color: #00addf;
  border-bottom: .1rem solid #4c4f4f;
}

.sessaoConsultaAdicionar table tbody td:first-child{
  border-left: .1rem solid #4c4f4f;
} */

.sessaoConsultaAdicionar .calendario table .dia-atual {
  background-color: #a7a5a5;
  color: #fff;
  font-size: 1.45rem;
}


.sessaoConsultaAdicionar .calendario table .mes-anterior, 
.sessaoConsultaAdicionar .calendario table .proximo-mes{
  color: #a3a5a5;
  background-color: #d3dede4f;
}

.sessaoConsultaAdicionar .calendario table .mes-anterior:hover, 
.sessaoConsultaAdicionar .calendario table .proximo-mes:hover{
  color: #ffffff;
  background-color: #b5b9b9c3;
}

.sessaoConsultaAdicionar .calendario table .evento {
  width: auto;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sessaoConsultaAdicionar .calendario table .evento:after {
  content: '';
  width: .7rem;
  height: .7rem;
  margin: .3rem 0 0 0;
  background-color: #00addf;
  border-radius: 50%;
}

.sessaoConsultaAdicionar .calendario table .evento:hover:after{
  background: #f9f9f9
}

.sessaoConsultaAdicionar .calendario table .dia-atual.evento:after{
  background: #fff;
}

.sessaoConsultaAdicionar .calendario table .dia-atual.evento:hover:after{
  background: #000;
}

.sessaoConsultaAdicionar .calendario .footer-calendario p{
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.sessaoConsultaAdicionar .calendario .footer-calendario span{
  color: #0091df;
  font-weight: bold;
}

.sessaoConsultaAdicionar .agendar-consulta{
  border: .1rem solid ;
}

.sessaoConsultaAdicionar .agendar-consulta{
  border-radius: 1.3rem;
  padding-top: 2rem;
}


.sessaoConsultaAdicionar .agendar-consulta input[type="date"]::-webkit-inner-spin-button,
.sessaoConsultaAdicionar .agendar-consulta input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }


.sessaoConsultaAdicionar .agendar-consulta .notificacao{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.sessaoConsultaAdicionar .notificacao input[type='radio']{
  width: 1.5rem;
  height: 1.5rem;
  margin-top: .5rem;

}





.sessao .abaConteudo {
  display: none;
}
/* 
.sessao .abaSemConteudo{
  display: none;
} */

.sessao .abaSelecionado {
  display: flex;
}
